@media screen and (min-width: 760px) {
    #photosAlbum {
        grid-template-columns: 1fr 1fr;
    }

    #optionsMenu {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        flex-flow: row nowrap;
    }

    ul li {
        display: flex;
        flex: 1 1 100%;
    }

}

@media screen and (min-width: 950px) {
    #photosAlbum {
        grid-template-columns: 1fr 1fr 1fr;
    }
}