@media screen and (min-width: 760px) {
    #photosAlbum {
        grid-template-columns: 1fr 1fr;
    }

    .albumPhoto picture {
        width: 100%;
        height: 250px;
    }

    .albumPhoto img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    #optionsMenu {
        display: none;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        flex-flow: row nowrap;
    }

    ul li {
        display: flex;
        flex: 1 1 100%;
    }

}

@media screen and (min-width: 950px) {
    #photosAlbum {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .albumPhoto picture {
        width: 100%;
        height: 250px;
    }

.albumPhoto img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

}