* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --border-rd: 10px;
    --border-color: #808080;
    --box-color: #eee;
    --highlights: #000080;
    --warning-color: #ff0000;
}

form {
    margin: 25px;
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: var(--border-rd);
}

h1, 
footer, 
input[type='submit'] {
    color: var(--primary-color);
}

#pName, 
textarea, 
input[type='text'], 
input[type='submit'],
input[type='date'] {
    display: block;
    padding: 10px;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: var(--border-rd);
    border: 1px solid var(--border-color);
}

.requiredField {
    color: var(--warning-color);
}

#ratingTitle {
    margin-bottom: 2px;
}

#overallRating label {
    text-align: start;
}

#overallRating {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.rating {
    margin-bottom: 5px;
}

.feature {
    display: block;
    width: 100%;
    height: auto;
}

.feature input {
    margin-right: 10px;
}

.last {
    margin-bottom: 20px;
}

textarea {
    height: auto;
}

input[type='submit'] {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 4px var(--border-color);
}

.optional {
    color: var(--highlights);
}

footer, header h1 {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

/*--------------------- review.html Page ----------------*/
#reviewResponse {
    height: 85vh;
    text-align: center;
    align-content: center;
}

#reviewResponse h2 {
    display: inline;
}

#reviewFeedback {
    margin: 0 auto;
    padding: 40px;
    width: 40%;
    border-radius: var(--border-rd);
    border: 1px solid var(--border-color);
    background-color: var(--box-color);
    min-width: 150px;
    
}

#reviewFeedback p:nth-child(even) {
    margin-top: 20px;
}

#reviewsCount {
    font-size: 22px;
    color: var(--highlights);
}

/*--------------------- Larger Views -------------------*/

@media screen and (min-width: 400px) {
    
    .rating {
        width: 100%;
        display: block;
        height: auto;
        margin-bottom: 0px;
    }

    #overallRating {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    #overallRating label {
        text-align: center;
    }
}