* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #ffff;
    --secondary-color: #D91023;
    --heading-color: #ffff;
    --card-text-color: #006400;
    --border-color: #daa520;
}

header, footer {
    padding: 40px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--heading-color);
    font-size: 1.2rem;
    width: inherit;
}

header {
    border-bottom: 15px solid var(--border-color);
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

picture img {
    width: 100%;
    height: auto;
    
}

.card {
    text-align: center;
    margin: 15px 10px;
    background-color: var(--heading-color);
    color: var(--card-text-color);
    padding: 25px;
    font-size: 1.5rem;
}

.card li {
    list-style-type: none;
    justify-content: center;
    padding: 2px;
}

.weather div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.weather div, .data h2 {
    margin-bottom: 10px;
}

.weather h2 {
    margin-bottom: 2px;
}

.weather img {
    width: 15px;
}

footer {
    border-top: 15px solid var(--border-color);
    background-color: var(--card-text-color);
}

/*--------------------Large Views----------------*/

@media screen and (min-width: 800px) {

    main {
        background-color: var(--border-color);
    }
    
    .card {
        border-radius: 5px;
        font-size: 1.5rem;
        min-width: 100px;
    }

    .card h2 {
        margin-bottom: 20px;
    }

    .weather {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: '⛅';
    }

    .data {
        position: absolute;
        top: 10px;
        left: 10px;
    }

}