* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #ffff;
    --secondary-color: #D91023;
    --heading-color: #ffff;
    --card-text-color: rgb(0, 100, 0);
    --border-color: goldenrod;
}

header, footer {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--heading-color);
    font-size: 0.8rem;
    width: inherit;
}

header {
    border-bottom: 5px solid var(--border-color);
    padding: 20px;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

picture img {
    width: 100%;
    height: auto;
    
}

.card {
    text-align: center;
    margin: 15px 10px;
    background-color: var(--heading-color);
    color: var(--card-text-color);
    padding: 10px;
    font-size: 0.7rem;
}

.card li {
    list-style-type: none;
    justify-content: center;
    padding: 2px;
}

.weather div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.weather div, .data h2 {
    margin-bottom: 10px;
}

.weather h2 {
    margin-bottom: 2px;
}

.weather img {
    width: 15px;
}

footer {
    border-top: 5px solid var(--border-color);
    background-color: var(--card-text-color);
    font-size: 0.7rem;
}

/*--------------------Large Views----------------*/

@media screen and (min-width: 800px) {

    header {
        font-size: 1rem;
    }

    footer {
        font-size: 1.2rem;
    }

    .card {
        padding: 20px;
        border-radius: 5px;
        font-size: 1.3rem;
    }

    .weather {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: '⛅';
    }

    .data {
        position: absolute;
        top: 10px;
        left: 10px;
    }

}